.produtos{
   
    background: url(../../images/produtos-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.conteudo-produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 15rem;
    justify-content: end;
}

.card-prod{
    width: 200px;
    height: 200px;
    background: rgb(211 205 175 / 60%);
    color: #fff;
    border-radius: 10px;
    padding: 2rem;
    -webkit-box-shadow: -4px 9px 34px -5px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.card-prod:hover{
    animation: flutuacao 2s ease-in-out infinite;
}

.icon{
    font-size: 4rem;

}


@keyframes flutuacao{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}


@media(max-width : 500px){
    .conteudo-produtos{
        padding: 0;
    }
    .card-prod {
        width: 126px;
        height: 160px;
    }
}