.about{
    width: 100%;
    margin: 0;
    background: rgb(0, 0, 0,.1);
    padding-top: 100px;
}


.about-cont{
    width: 50%;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.text{
    text-align: center;
    margin-bottom: 2rem;
}
.img{
    width: 400px;
    clip-path: circle( 55% at 50% 78%);
    margin-top: -2rem;
    -webkit-box-shadow: -4px 9px 27px -5px rgba(0,0,0,0.19);

}
.img1{
    width: 400px;
    clip-path: circle( 55% at 50% 18%);
    -webkit-box-shadow: -4px 9px 27px -5px rgba(0,0,0,0.19);

}

.text-cont{
    background: #A9A9A9;
    padding: 1rem 3rem;
    color: white;
    border-radius: 40px;
    -webkit-box-shadow: -4px 9px 34px -5px rgb(147 131 131 / 55%);
}
    

